<?xml version="1.0"?>

<launch>
    <arg name="align_depth" default="true"/>
    <arg name="enable_infra" default="true"/>
    <arg name="enable_infra1" default="true"/>
    <arg name="enable_infra2" default="true"/>

    <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
        <arg name="robot_ip" value="192.168.56.2"/>
    </include>

    <include file="$(find ur10e_moveit_config)/launch/ur10e_moveit_planning_execution.launch">
    </include>

    <node pkg="use_cases" type="client.py" name="client"/>
    <node pkg="use_cases" type="demo1.py" name="demo1"/>

    <node pkg="gripper" type="gripper_controller.py" name="gripper_controller"/>
    <node pkg="arm" type="arm_controller.py" name="arm_controller"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find use_cases)/rviz/demo1.rviz" />

</launch>