<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="larcc_model">
    <xacro:include filename="$(find ur_description)/urdf/inc/ur10e_macro.xacro"/>
    <xacro:ur10e_robot prefix="" />


    <xacro:include filename="$(find realsense2_description)/urdf/test_d435i_camera.urdf.xacro" />

    <xacro:realsense2_camera parent="base_link" use_nominal_extrinsics="true">
        <origin xyz="0.797 -0.803 0.432" rpy="3.135 2.462 -1.577"/>
    </xacro:realsense2_camera>

    <xacro:include filename="$(find gripper)/urdf/robotiq_arg2f_140_model_macro.xacro" />

    <xacro:robotiq_arg2f_140 prefix=""/>

    <joint name="new_joint" type="fixed">
        <parent link="tool0"/>
        <child link="robotiq_arg2f_base_link"/>
        <origin xyz="0 0 0" rpy="0 0 1.5708"/>
    </joint>

</robot>
