<?xml version="1.0"?>
<robot name="robotiq_arg2f_140_model" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find gripper)/urdf/robotiq_arg2f_140_model_macro.xacro" />
  <xacro:robotiq_arg2f_140 prefix=""/>

  <link name="new_link">
    <visual>
      <geometry>
        <cylinder length="0" radius="0"/>
      </geometry>
    </visual>
  </link>

  <joint name="new_joint" type="fixed">
    <parent link="new_link"/>
    <child link="robotiq_arg2f_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
