<?xml version="1.0"?>

<launch>
    <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
        <arg name="robot_ip" value="192.168.56.2"/>
    </include>

    <include file="$(find ur10e_moveit_config)/launch/ur10e_moveit_planning_execution.launch">
    </include>

    <node pkg="gripper" type="force_torque_node.py" name="force_torque_node"/>

<!--    <node pkg="force_torque" type="graphs.py" name="graphs"/>-->


</launch>