<?xml version="1.0"?>

<launch>
    <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
        <arg name="robot_ip" value="192.168.56.2"/>
    </include>

    <include file="$(find ur10e_moveit_config)/launch/ur10e_moveit_planning_execution.launch">
    </include>

<!--     <node pkg="gripper" type="gripper_controller.py" name="gripper_controller"/> -->
<!--     <node pkg="arm" type="arm_controller.py" name="arm_controller"/> -->
</launch>