<?xml version="1.0" ?>
<robot name="realsense2_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>

  <xacro:macro name="realsense2_camera" params="parent *origin name:=camera use_nominal_extrinsics">
<!--    <xacro:sensor_d435i parent="${parent}" origin="origin" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">-->
    <xacro:sensor_d435i parent="${parent}" origin="origin" use_nominal_extrinsics="${use_nominal_extrinsics}">
<!--      <origin xyz="0 0 0" rpy="0 0 0"/>-->
    </xacro:sensor_d435i>
  </xacro:macro>

<!--  <xacro:macro name="realsense2_camera" params="name:=camera use_nominal_extrinsics">-->
<!--    <xacro:sensor_d435i use_nominal_extrinsics="${use_nominal_extrinsics}">-->
<!--    </xacro:sensor_d435i>-->
<!--  </xacro:macro>-->


</robot>

